body {
  margin: 0;
  padding-top: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main_container {
  background-color: hsl(204, 43%, 93%);
  height: 800px;
  width: 1300px;
  margin: auto;
}

.top_container {
  margin: auto;
  border-radius: 10px 10px 0 0;
  background-color: white;
  position: absolute;
  top: 200px;
  left: 480px;
  width: 600px;
  height: 180px;
  text-align: left;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(218, 22%, 67%);
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.bottom_left_container {
  position: absolute;
  top: 420px;
  left: 480px;
  display: inline-block;
  background-color: hsl(179, 62%, 43%);
  width: 280px;
  height: 230px;
  border-radius: 0 0 0 10px;
  text-align: left;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding-top: 20px;
  padding-left: 40px;
}

.bottom_right_container {
  position: absolute;
  top: 420px;
  left: 800px;
  background-color: #31CECB;
  width: 280px;
  height: 230px;
  border-radius: 0 0 10px 0;
  text-align: left;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding-top: 20px;
  padding-left: 40px;
}

.join {
  color: hsl(179, 62%, 43%);
}

button {
  background-color: #C0DF34;
  width: 240px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}

button:hover {
  background-color: #98A6BD;
  color: white;
}

.hassle {
  color: #C0DF34;
}

.dollar {
  font-size: 35px;
  font-weight: 700;
}

.per {
  color: #20e3e0;
}

.attribution {
  margin: auto;
  margin-top: 600px;
}
